<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple POST API Call</title>
</head>

<body>
	
	<form id="apiForm" action="http://localhost:1090/encdata/PaymentCheckout" method="POST">
    
            
        <label>Order Number:</label>
        <input id="MerchantOrderNo" name="MerchantOrderNo" type="text" />
        
        
         <label>Amount:</label>
        <input id="orderAmount" name="orderAmount" type="text" />
		
        
        <input type="submit" value="Submit"/>
        </td>
      </form>
	<div id="response"></div>
</body>

</html>